@import "../../variables.scss";

.list-wrapper {
  height: 100%;
  user-select: none;
  display: inline-flex;
  flex-direction: column;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.list {
  min-height: 0px; // fix flexbox browser incostiency
  width: $list-width;
  border-radius: $list-radius;
  box-sizing: border-box;
  font-size: 14px;
  margin: 0 5px 0 5px;
  display: inline-flex;
  flex-direction: column;
  max-height: 100%;
  transition: box-shadow 0.15s, background 0.3s;
}

.blue .list {
  background: $transparent-blue;
}
.green .list {
  background: $transparent-green;
}
.red .list {
  background: $transparent-red;
}
.pink .list {
  background: $transparent-pink;
}

.list--drag {
  box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.3) !important;
}

.cards-wrapper {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 3px 6px 3px;
}

.cards-wrapper::-webkit-scrollbar {
  width: 8px;
  background-color: $transparent-black;
  border-radius: 2px;
}

.cards-wrapper::-webkit-scrollbar-thumb {
  background: $transparent-white;
  border-radius: 2px;
}
.cards {
  min-height: 1px;
  margin-bottom: 3px;
}

.open-composer-button {
  margin-top: 6px;
  align-self: center;
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  background: $transparent-black;
  color: $white;
  font-size: 28px;
  border: none;
  cursor: pointer;
  border-radius: $list-radius;
  transition: background 0.1s;
}

.open-composer-button:hover,
.open-composer-button:focus {
  background: $less-transparent-black;
}
