{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "loose": true,
        "targets": {
          "browsers": ["Chrome 64", "Edge 16", "Firefox 58", "Safari 11"]
        }
      }
    ],
    ["@babel/preset-stage-2", { "decoratorsLegacy": true }],
    "@babel/react"
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "transform-react-remove-prop-types",
          {
            "removeImport": true
          }
        ]
      ]
    }
  }
}
