@import "../../variables.scss";

// Header position has to fixed as the user scrolls to the right. Because of a limitation in react-beautiful-dnd library
// the drag-drop context can only have one scroll container so the entire board has to be scrolled. Therefore,
// header has to be part of the page that is being scrolled and as a workaround we use position:fixed.
header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background: #555;
  padding: 5px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  height: 40px;
  transition: background 0.3s;
}

.green header {
  background: $transparent-green;
}
.blue header {
  background: $transparent-blue;
}
.red header {
  background: $transparent-red;
}
.pink header {
  background: $transparent-pink;
}

.header-title {
  color: white;
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
}

.header-title img {
  height: 30px;
}

.header-right-side {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  color: white;
}

.user-thumbnail {
  height: 28px;
  border-radius: 3px;
}

.guest-icon {
  font-size: 24px;
  padding-top: 2px;
}

.signout-link {
  background: $transparent-black;
  border: 1px solid $transparent-black;
  border-radius: 3px;
  color: white;
  padding: 3px 5px 1px 5px;
  margin-left: 12px;
  text-decoration: none;
}

.signout-link:focus,
.signout-link:hover {
  background: $less-transparent-black;
}

.signout-icon {
  font-size: 22px;
  padding-bottom: 2px;
}

// Some things have to be removed for mobile layouts to avoid overflowing
@media (max-width: 700px) {
  .user-thumbnail,
  .guest-icon {
    display: none;
  }

  .signout-link {
    margin-left: 0px;
  }
}
