$dropdown-color: #555;

.user-dropdown-wrapper {
  position: relative;
}

.user-dropdown-button {
  display: flex;
  height: 100%;
  width: 50px;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
}

.user-dropdown-button img {
  height: 26px;
  border-radius: 50%;
}

.user-dropdown-menu::before {
  border: inset 6px;
  content: "";
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) $dropdown-color
    rgba(0, 0, 0, 0);
  position: absolute;
  top: -12px;
  right: 10px;
}

.user-dropdown-menu {
  position: absolute;
  margin-top: 8px;
  padding-bottom: 6px;
  top: 100%;
  background: $dropdown-color;
  right: 0;
  width: 200px;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
  color: white;
}

.user-dropdown-header {
  display: flex;
  justify-content: center;
  margin: 8px;
}

.user-dropdown-menu hr {
  margin: 2px;
}

.user-dropdown-item {
  color: inherit;
  font-weight: 700;
  padding: 8px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.user-dropdown-item:hover,
.user-dropdown-item:focus {
  background: #333;
}
