@import "../../../variables.scss";

.board-header {
  color: $white;
  margin: 8px 10px 5px 10px;
  display: flex;
  align-items: center;
}

.board-title-wrapper {
  min-width: 270px;
}

.board-title-button {
  background: transparent;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  padding: 6px 10px 6px 10px;
  transition: background 0.1s;
}

.board-title-button:hover,
.board-title-button:focus {
  background: $transparent-black;
}

.board-title {
  font-size: 20px;
  margin: 0;
  color: $white;
}

.board-title-input {
  font-size: 20px;
  font-weight: 700;
  color: inherit;
  background: inherit;
  padding: 6px 10px 6px 10px;
  border: 0;
}

.color-picker-wrapper {
  position: relative;
  font-size: 16px;
  z-index: 1;
}

.color-picker {
  display: flex;
  align-items: center;
  color: $white;
  border-radius: 3px;
  padding: 8px 10px 8px 10px;
  width: 45px;
  justify-content: space-around;
  transition: background 0.1s;
  cursor: pointer;
}

.color-picker:hover,
.color-picker:focus {
  background: $transparent-black;
}

.color-picker-menu {
  position: absolute;
  margin-top: 4px;
  top: 100%;
  left: -30%;
  right: -30%;
  background: #777;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.color-picker-item {
  height: 40px;
  margin: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  // border-radius: 6px;
  &.blue {
    background: $blue;
  }
  &.green {
    background: $green;
  }
  &.red {
    background: $red;
  }
  &.pink {
    background: $pink;
  }
}

.vertical-line {
  width: 1px;
  height: 16px;
  background: $transparent-white;
  margin: 0 10px;
}
