@import "../../../variables.scss";

.board-header {
  top: 40px;
  position: fixed;
  color: $white;
  padding: 8px 10px 5px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  height: 40px;
  width: 100%;
}

.board-title-button {
  display: flex;
  background: transparent;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  padding: 6px 10px 6px 10px;
  transition: background 0.1s;
  min-width: 0;
}

.board-title-button:hover,
.board-title-button:focus {
  background: $transparent-black;
}

.board-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  overflow-wrap: break-word;
  font-size: 20px;
  margin: 0;
  color: $white;
}

.board-title-input {
  font-size: 20px;
  font-weight: 700;
  font-family: inherit;
  color: inherit;
  background: inherit;
  padding: 6px 10px 6px 10px;
  border: 0;
  width: 100%;
}

.board-header-right {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.color-picker-wrapper {
  position: relative;
  font-size: 16px;
}

.color-picker {
  display: flex;
  align-items: center;
  color: $white;
  border-radius: 3px;
  padding: 8px 10px 8px 10px;
  // width: 45px;
  justify-content: space-around;
  transition: background 0.1s;
  cursor: pointer;
}

.color-picker:hover,
.color-picker:focus {
  background: $transparent-black;
}

.color-picker-menu {
  position: absolute;
  margin-top: 4px;
  top: 100%;
  left: -20px;
  right: -20px;
  background: #777;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.color-picker-item {
  height: 40px;
  margin: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  // border-radius: 6px;
  &.blue {
    background: $blue;
  }
  &.green {
    background: $green;
  }
  &.red {
    background: $red;
  }
  &.pink {
    background: $pink;
  }
}

.board-deleter-wrapper {
  position: relative;
  font-size: 16px;
  flex-shrink: 0;
}

.board-deleter-button {
  display: flex;
  align-items: center;
  color: $white;
  border-radius: 3px;
  padding: 8px 10px 8px 10px;
  justify-content: space-around;
  transition: background 0.1s;
  cursor: pointer;
}

.board-deleter-button:hover,
.board-deleter-button:focus {
  background: $transparent-black;
}

.board-deleter-button {
  cursor: pointer;
}

.board-deleter-menu {
  background: $white;
  color: black;
  position: absolute;
  margin-top: 4px;
  top: 100%;
  right: 0;
  width: 140px;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
  padding: 5px;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  text-align: center;
}

.board-deleter-confirm {
  background: red;
  color: white;
  cursor: pointer;
  padding: 8px 30px;
  border-radius: 6px;
  text-align: center;
  margin-top: 5px;
}

.board-deleter-confirm:hover,
.board-deleter-confirm:focus {
  background: darkred;
}

.vertical-line {
  width: 1px;
  height: 16px;
  background: $transparent-white;
  margin: 0 10px;
}

@media (max-width: 700px) {
  .board-header-right-text {
    display: none;
  }
  .vertical-line {
    margin: 0 4px;
  }
  .board-header {
    padding-left: 4px;
    padding-right: 4px;
  }
}
