@import "../../variables.scss";

.options-list {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0 8px;

  @media (max-width: 550px) {
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 0;
  }
}

.options-list-button {
  display: flex;
  align-items: center;
  height: 33px;
  margin: 0 3px 4px 3px;
  padding: 0 6px;
  border: 0;
  border-radius: 3px;
  color: black;
  background: rgba(255, 255, 255, 0.8);
  font-size: inherit;
  cursor: pointer;
  width: 120px;
}

.options-list-button:hover,
.options-list-button:focus {
  background: white;
}

.modal-icon {
  flex-shrink: 0;
  margin-bottom: 3px;
}

.picker-modal {
  position: absolute;
  left: 50%;
  top: 50%;
}

.user-add-modal {
  top: 50px;
  width: 300px;
  position: absolute;
  left: calc(50% - 150px);
}

.modal-underlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.checkList-modal {
  position: absolute;
  left: 1%;
  top: 0%;
  height: 50px;
  z-index: 3;
}

.checkList-underlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.calendar {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background: white;
}

.calendar-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8px;

  button {
    width: 120px;
    height: 30px;
    border: 0;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    transition: background 0.2s;
    cursor: pointer;
  }

  button:hover {
    background: #bbb;
  }

  .calendar-save-button {
    color: white;
    background: $success-button-color;
  }

  .calendar-save-button:hover {
    background: $success-button-color-hover;
  }
}

.modal-color-picker-wrapper {
  position: relative;
}

.modal-color-picker {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  width: 120px;
  margin-top: 4px;
  padding: 5px;
  border-radius: 3px;
  color: black;
  background: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
  font-weight: 700;
  text-align: center;
  z-index: 4;
}

.color-picker-color {
  width: 36px;
  height: 36px;
  margin: 2px;
  border: 1px #999 solid;
  border-radius: 3px;
}

.input {
  float: right; // removes mysterious empty space at the bottom of the textarea somehow
  box-sizing: border-box;
  width: 284px;
  padding: 10px 8px;
  border: 0;
  border-radius: 3px;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  resize: none;
}

.btn-3 {
  letter-spacing: 0.05rem;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  z-index: 1;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.btn-3:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: scale(0.95);
}
