@import "../../variables.scss";
$list-width: 270px;
$list-margin: 8px;

.board {
  height: 100%;
  display: flex;
  flex-direction: column;
  // overflow: auto;
}

.board-header {
  color: white;
  margin: 12px 12px 9px 12px;
}

.board-title {
  font-size: 18px;
  margin: 0 0 0 8px;
}

.lists {
  display: flex;
  align-items: flex-start;
  margin: 5px;
  height: 100%;
}

.list-wrapper {
  height: 100%;
}

.list {
  width: $list-width;
  background: $bg-grey;
  color: $fg-black;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
  margin: 0 5px 0 5px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.list-title {
  display: flex;
  flex-shrink: 0;
}

.list-title-button {
  flex-grow: 1;
  padding: 10px;
  font-weight: 700;
  display: flex;
  background: $bg-grey;
  color: $fg-black;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-top-left-radius: 3px;
}

.delete-list-button {
  border: 0;
  padding: 4px 6px 7px 6px;
  border-radius: 3px;
  color: $fg-black;
  background: $bg-grey;
  cursor: pointer;
  font-size: 16px;
}

.list-title-textarea-wrapper {
  margin: 4px 4px 1px 4px;
}

.list-title-textarea {
  border-radius: 3px;
  padding: 6px;
  overflow: hidden;
  width: 100%;
  border: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  color: inherit;
  resize: none;
}

.cards {
  overflow-y: auto;
  overflow-x: hidden;
}

.card-title {
  background: white;
  border-radius: 3px;
  padding: 8px;
  margin: 0 $list-margin $list-margin $list-margin;
  position: relative;
  overflow-wrap: break-word;
  user-select: none;
  box-sizing: border-box;
}

.card-title:hover {
  background: #ddd;
}

.edit-card-button {
  position: absolute;
  right: 3px;
  top: 3px;
  border: 0;
  padding: 4px 6px 7px 6px;
  border-radius: 3px;
  opacity: 0;
  color: $fg-black;
  cursor: pointer;
}

.edit-card-button:hover {
  opacity: 1;
}
.delete-card-button {
  position: absolute;
  right: 28px;
  top: 2px;
  border: 0;
  padding: 4px 6px 7px 6px;
  border-radius: 3px;
  opacity: 0;
  color: $fg-black;
  cursor: pointer;
  font-size: 16px;
}

.delete-card-button:hover {
  opacity: 1;
}

.open-composer-button {
  display: flex;
  background: $bg-grey;
  color: #838c91;
  width: 100%;
  font-size: 14px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.open-composer-button:hover {
  color: $fg-black;
  background: $bg-darker-grey;
  text-decoration: underline;
}

.textarea-wrapper {
  margin: 0 $list-margin $list-margin $list-margin;
}

.list-textarea {
  border-radius: 3px;
  padding: 8px;
  overflow: hidden;
  width: 100%;
  border: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
  resize: none;
}

.submit-card-button {
  background: #5aac44;
  color: white;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 18px 10px 18px;
  margin: 5px 0 0 0;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  transition: background 0.2s;
}

.submit-card-button:hover {
  background: #4a9a34;
}

.submit-card-button:focus {
  background: #3a8a24;
}

.add-list-button {
  background: rgba(0, 0, 0, 0.15);
  color: #ddd;
  cursor: pointer;
  display: flex;
  width: $list-width;
  font-size: 14px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  margin: 0 5px 0 5px;
  transition: background 0.2s;
  flex-shrink: 0;
}

.add-list-button:hover,
add-list-button:focus {
  background: rgba(0, 0, 0, 0.25);
}
