@import "../../variables.scss";

.board {
  height: 100%;
  min-width: 100%;
  display: inline-flex;
  background: $black;

  &.green {
    background: $green;
  }
  &.blue {
    background: $blue;
  }
  &.red {
    background: $red;
  }
  &.pink {
    background: $pink;
  }
}

.lists-wrapper {
  padding: 85px 5px 15px 5px;
  box-sizing: border-box;
  height: 100%;
  display: inline-flex;
}

.lists {
  display: inline-flex;
  align-items: flex-start;
  height: 100%;
}
