@import "../../variables.scss";

.board-wrapper {
  display: flex;
  height: 100%;
  // align-items: flex-start;

  &.green {
    background: $green;
  }
  &.blue {
    background: $blue;
  }
  &.red {
    background: $red;
  }
  &.pink {
    background: $pink;
  }
}

.board {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.green .board {
  background: $green;
}
.blue .board {
  background: $blue;
}
.red .board {
  background: $red;
}
.pink .board {
  background: $pink;
}

.lists-wrapper {
  height: 100%;
  display: inline-flex;
  padding: 5px;
  background: inherit;
}

::-webkit-scrollbar {
  height: 10px;
  background: #666;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 1px;
}

.lists {
  display: inline-flex;
  align-items: flex-start;
  height: 100%;
}
