@import "../../variables.scss";

.board {
  height: 100%;
  min-width: 100%;
  display: inline-flex;
  // transition: background 0.3s;

  // &.green {
  //   background: $green;
  // }
  // &.blue {
  //   background: $blue;
  // }
  // &.red {
  //   background: $red;
  // }
  // &.pink {
  //   background: $pink;
  // }
}

.board-underlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: background 0.3s;
}
.green .board-underlay {
  background: $green;
}
.blue .board-underlay {
  background: $blue;
}
.red .board-underlay {
  background: $red;
}
.pink .board-underlay {
  background: $pink;
}

.lists-wrapper {
  padding: 85px 5px 8px 5px;
  box-sizing: border-box;
  height: 100%;
  display: inline-flex;
}

.lists {
  display: inline-flex;
  align-items: flex-start;
  height: 100%;
  user-select: none;
}
