@import "../../variables.scss";

.board-header {
  color: white;
  margin: 8px 8px 4px 8px;
}

.board-title {
  font-size: 18px;
  margin: 0 0 0 8px;
}

.lists {
  display: flex;
  margin: 5px;
}

.list {
  width: 270px;
  background: $bg-grey;
  color: $fg-black;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin: 0 5px 0 5px;
}

.list-title {
  margin: 8px;
  font-weight: 700;
}

.card-title {
  background: white;
  border-radius: 3px;
  padding: 6px;
  margin: 0 8px 8px 8px;
}
