@import "../../variables.scss";
$board-width: 220px;
$board-margin: 5px;
$main-margin: 40px;

@mixin board-button {
  width: $board-width;
  margin: $board-margin;
  height: 120px;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  box-sizing: border-box;
  transition: background 0.1s;
}

.home {
  overflow: auto;
  display: inline-flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: #eee;
}

.main-content {
  width: 4 * $board-width + 8 * $board-margin;
  margin: $main-margin;
  display: inline-flex;
  flex-direction: column;
}

@media (max-width: 4 * $board-width + 8 * $board-margin + 2 * $main-margin) {
  .main-content {
    width: 3 * $board-width + 6 * $board-margin;
  }
}

@media (max-width: 3 * $board-width + 6 * $board-margin + 2 * $main-margin) {
  .main-content {
    width: 2 * $board-width + 4 * $board-margin;
  }
}
@media (max-width: 2 * $board-width + 4 * $board-margin + 2 * $main-margin) {
  .main-content {
    width: $board-width + 2 * $board-margin;
    margin: $main-margin 0;
  }
}

.main-content h1 {
  margin: 20px 5px;
  font-size: 22px;
}

.boards {
  display: inline-flex;
  flex-wrap: wrap;
}

.board-link {
  @include board-button;
  color: white;
  text-decoration: none;
  display: inline-flex;
  flex-direction: column;
  overflow-wrap: break-word;

  &.green {
    background: $green;
  }
  &.blue {
    background: $blue;
  }
  &.red {
    background: $red;
  }
  &.pink {
    background: $pink;
  }
}

.board-link:hover,
.board-link:focus {
  &.green {
    background: $dark-green;
  }
  &.blue {
    background: $dark-blue;
  }
  &.pink {
    background: $dark-pink;
  }
  &.red {
    background: $dark-red;
  }
}

.board-link-title {
  padding-bottom: 5px;
}

.mini-board {
  display: flex;
  height: 100%;
}

.mini-list {
  background: rgba(255, 255, 255, 0.25);
  width: 24px;
  height: 100%;
  border-radius: 3px;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 6px;
}

.create-board-button {
  @include board-button;
  border: 0;
  background: $bg-grey;
  color: #444;
  margin-bottom: 20px;
}

.create-board-button:hover,
.create-board-button:focus {
  background: $bg-darker-grey;
}

.board-adder {
  width: $board-width;
  margin: $board-margin;
  height: 80px;
  padding: 8px;
  background: $bg-grey;
  color: #444;
  border-radius: 3px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.submit-board-button {
  background: $success-button-color;
  color: white;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 12px 8px 12px;
  margin: 8px 0 0 0;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  transition: background 0.2s;
}

.submit-board-button:focus,
.submit-board-button:hover {
  background: $success-button-color-hover;
}

.submit-board-input {
  border-radius: 3px;
  padding: 4px;
  overflow: hidden;
  width: 100%;
  border: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  color: inherit;
  resize: none;
}
