html {
  height: 100%;
  width: 100%;
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #ddd;
  }

  &::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 3px;
  }
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

#app {
  height: 100%;
  display: inline-flex;
  min-width: 100%;
}
