html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

#app {
  height: 100%;
  display: flex;
  min-width: 100vw;
  flex-direction: column;
}
