@import "../variables.scss";
$header-height: 40px;

header {
  box-sizing: border-box;
  background: #032;
  padding: 5px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  height: $header-height;
}

.header-title {
  color: white;
  text-decoration: none;
  font-size: 28px;
  font-weight: 700;
}

.dropdown-wrapper {
  position: relative;
}

.dropdown-button {
  display: flex;
  height: 100%;
  width: 50px;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
  color: white;
}

.dropdown-button img {
  height: 26px;
  width: 26px;
  border-radius: 50%;
}

.dropdown-menu::before {
  border: inset 6px;
  content: "";
  // display: block;
  // height: 0;
  // width: 0;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff rgba(0, 0, 0, 0);
  position: absolute;
  top: -12px;
  right: 10px;
  // z-index: 89;
}

.dropdown-menu {
  position: absolute;
  margin-top: 8px;
  padding-bottom: 6px;
  top: 100%;
  background: #032;
  right: 0;
  width: 200px;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
  color: white;
}

.dropdown-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

.dropdown-menu hr {
  margin: 2px;
  // border: 1px $bg-grey;
}

.dropdown-item {
  color: inherit;
  font-weight: 700;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background: #021;
}
