@import "../variables.scss";

.home {
  display: flex;
  justify-content: center;
}

.boards {
  width: 60%;
}

.board-link {
  width: 280px;
  height: 80px;
  padding: 10px;
  background: $bg-blue;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  flex-shrink: 1;
  align-self: flex-start;
  box-sizing: border-box;
  text-decoration: none;
  margin: 5px;
  transition: background 0.1s;
}

.board-link:hover,
.board-link:focus {
  background: $bg-dark-blue;
}

.create-board-button {
  border: 0;
  width: 280px;
  height: 80px;
  padding: 10px;
  background: $bg-grey;
  color: #444;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  flex-shrink: 1;
  box-sizing: border-box;
  margin: 5px;
  transition: background 0.1s;
}

.create-board-button:hover,
.create-board-button:focus {
  background: $bg-darker-grey;
}
