.landing-page {
  background-image: url("../../assets/images/postit-notes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  color: white;
  height: 100%;
}

.landing-page-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-page-text {
  display: inline-block;
  border-radius: 15px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.6);
  margin: 50px;
  color: white;
}

.signin-button {
  border: 0;
  padding: 6px 12px 4px 8px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  display: inline-flex;
  flex-shrink: 1;
  align-self: flex-start;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  margin: 5px;
}

.twitter-button {
  background: #1da1f2;
}

.twitter-button:hover,
.twitter-button:focus {
  background: #0090e2;
}

.google-button {
  background: white;
  color: #222222;
}

.google-button:hover,
.google-button:focus {
  background: #eee;
}

.logo-icon {
  font-size: 30px;
}

.google-logo {
  height: 30px;
}
