$bg-blue: rgb(0, 121, 191);
$bg-dark-blue: #026aa7;
$bg-grey: #e2e4e6;
$bg-darker-grey: #cdd2d4;
$fg-black: #333;

$black: #032;
$green: #032;
$blue: #06a;
$red: #831;
$pink: #d17;
$dark-green: #021;
$dark-blue: #059;
$dark-red: #720;
$dark-pink: #b06;

$transparent-green: rgba(70, 100, 90, 0.65);
$transparent-blue: rgba(80, 90, 100, 0.75);
$transparent-red: rgba(110, 90, 90, 0.65);
$transparent-pink: rgba(100, 100, 80, 0.75);
// $transparent-grey: rgba(100, 100, 100, 0.55);
$transparent-grey: rgba(80, 100, 100, 0.4);
$transparent-black: rgba(0, 0, 0, 0.2);
$transparent-white: rgba(255, 255, 255, 0.4);
$white: #fbfbfb;
