@import "../../variables.scss";

.board-deleter-wrapper {
  position: relative;
  font-size: 16px;
  flex-shrink: 0;
}

.board-deleter-button {
  display: flex;
  align-items: center;
  color: $white;
  border-radius: 3px;
  padding: 8px 10px 8px 10px;
  justify-content: space-around;
  transition: background 0.1s;
  cursor: pointer;
}

.board-deleter-button:hover,
.board-deleter-button:focus {
  background: $transparent-black;
}

.board-deleter-button {
  cursor: pointer;
}

.board-deleter-menu {
  background: $white;
  color: $black-text;
  position: absolute;
  margin-top: 4px;
  top: 100%;
  right: 0;
  width: 140px;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
  padding: 5px;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  text-align: center;
}

.board-deleter-confirm {
  background: red;
  color: white;
  cursor: pointer;
  padding: 8px 30px;
  border-radius: 6px;
  text-align: center;
  margin-top: 5px;
}

.board-deleter-confirm:hover,
.board-deleter-confirm:focus {
  background: darkred;
}
