@import "../../../../variables.scss";

.card-title {
  background: $white;
  border-radius: 3px;
  margin: 0 5px $list-margin 5px;
  position: relative;
  overflow-wrap: break-word;
  user-select: none;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  padding: 12px 10px;
}

.card-title-drag {
  box-shadow: 0px 0px 5px rgb(0, 180, 255);
}

.card-title-html {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  img {
    max-width: 100%;
  }

  p {
    margin: 4px 0;
  }

  code {
    white-space: pre-wrap;
  }
}

.edit-card-button {
  position: absolute;
  right: 3px;
  top: 3px;
  border: 0;
  padding: 4px 6px 7px 6px;
  border-radius: 3px;
  opacity: 0;
  color: $white;
  background: $transparent-black;
  cursor: pointer;
}

.edit-card-button:hover {
  opacity: 1;
}
.delete-card-button {
  position: absolute;
  right: 28px;
  top: 2px;
  border: 0;
  padding: 4px 6px 7px 6px;
  border-radius: 3px;
  opacity: 0;
  color: $fg-black;
  cursor: pointer;
  font-size: 16px;
}

.delete-card-button:hover {
  opacity: 1;
}

.modal-underlay {
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-editor-modal {
  display: flex;
  position: absolute;
}

.modal-textarea-wrapper {
  margin: 0 0 $list-margin 0;
}

.options-list {
  margin-left: 8px;
}
