@import "../../../variables.scss";

.textarea-wrapper {
  margin: 6px 13px 0 13px;
}

.list-textarea {
  float: right; // removes mysterious empty space at the bottom of the textarea somehow
  box-sizing: border-box;
  width: 100%;
  padding: 10px 8px;
  border: 0;
  border-radius: 3px;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  resize: none;
}

.submit-card-button {
  margin: 5px 0 0 0;
  padding: 10px 18px 10px 18px;
  border: none;
  border-radius: 3px;
  color: white;
  background: $success-button-color;
  font-size: 14px;
  font-weight: 700;
  transition: background 0.2s;
  cursor: pointer;
}

.submit-card-button:hover {
  background: $success-button-color-hover;
}
