.card-badges {
  display: flex;
  padding: 0px 8px 6px 8px;
  font-size: 14px;
}

.badge {
  display: flex;
  margin-right: 5px;
  padding: 3px 4px 1px 3px;
  border-radius: 3px;
  color: white;
  transition: background 0.15s;
}

.badge-icon {
  margin-bottom: 2px;
}

.scroll-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}

.scroll-wrapper::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #ddd;
}
.scroll-wrapper::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #aaa;
}